<root>
  <FileGroup Name="boilerplate.js">
    <File Path="Scripts/jquery-1.8.1.min.js" Minify="false" />
    <File Path="Scripts/jquery-ui-1.8.23.min.js" Minify="false" />
    <File Path="Scripts/modernizr-2.5.3.js" Minify="false" />
    <File Path="Scripts/bootstrap.min.js" Minify="false" />
  </FileGroup>

  <FileGroup Name="boilerplate.css">
    <File Path="Content/bootstrap.min.css" Minify="false"/>
    <File Path="Content/bootstrap-responsive.min.css" Minify="false"/>
    <File Path="Content/themes/base/jquery-ui.css"  Minify="false"/>
    <File Path="Content/Site.css"  Minify="false"/>
  </FileGroup>
</root>
